//- views/calificaciones.pug
doctype html
html
  head
    title Calificaciones
    link(rel="stylesheet", href="/css/styles.css")
  body
    h1 Calificaciones de los alumnos

    table
      thead
        tr
          th Alumno
          th Curso
          th Profesor
          th Calificación
      tbody
        each calificacion in calificaciones
          tr
            td #{calificacion.alumno.nombre} #{calificacion.alumno.apellido}
            td #{calificacion.curso.nombre}
            td #{calificacion.profesor.nombre} #{calificacion.profesor.apellido}
            td #{calificacion.notaFinal}

    // Footer opcional
    footer
      p © 2024 Escuela - Todos los derechos reservados.